.btns-portfolio {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-1, .btn-2, .btn-3, .btn-4 {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 16px;
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    cursor: pointer;
}

.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-4:hover {
    border: none;
    background-color: #FED30D;
    color: #211B00;
    font-weight: 700;

}



.items-portfolio {
    padding-top: 56px;
}

.info-portfolio {
    display: flex;
    flex-direction: column;
    gap: 32px; 
}

.info-portfolio p {
    padding-top: 56px;
    color: #fff;
    text-align: center;
    max-width: 82ch;
    margin: 0 auto;
    font-size: 18px;
}

.info-portfolio a {
    text-align: center;
    margin: 0 auto;
}

.item-1, .item-2, .item-3, .item-4 {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.item-1 img, .item-2 img, .item-3 img, .item-4 img {
    max-width: 30%;

}
.active {
    border: none;
    background-color: #FED30D;
    color: #211B00;
    font-weight: 700;
}

.visible {
    /* display: flex;
    flex-wrap: wrap;
    gap: 12px;
    scrollbar-color: #FED30D #d9d9d940; 
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}
.visible a img {
    max-width: 100%;
}